html {
  height: 100vh;
}

body {
  height: 100vh;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'OSAKA';
  src: url(../public/fonts/osaka-re.ttf);
}

@layer utilities {

  .scroll-bar {
    scrollbar-width: thin;
    scrollbar-color: #000 #fff;
  }
  
  
  /* For Chrome, EDGE, Opera, Others */
  .scroll-bar::-webkit-scrollbar {
    width: 5px;
  }
  
  .scroll-bar::-webkit-scrollbar-track {
    border-radius: 6px; 
    /* background: transparent; */
  }
  
  .scroll-bar::-webkit-scrollbar-thumb { 
    border-radius: 6px;
    /* background:#8e939c; */
  }
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid #3498db;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  left: 50%;
  top: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 


.switch {
  scale: 0.5;
  position: relative;
  display: inline-block;
  width: 90px;
  height: 34px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ca2222;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ab934;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(55px);
  -ms-transform: translateX(55px);
  transform: translateX(55px);
}

/*------ ADDED CSS ---------*/
.on
{
  display: none;
}

.on, .off
{
  color: white;
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  font-size: 10px;
  font-family: Verdana, sans-serif;
}

input:checked+ .slider .on
{display: block;}

input:checked + .slider .off
{display: none;}

/*--------- END --------*/

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;}


.recommendation-img {
  transition: transform .5s ease, opacity .5s ease;
  opacity: 1;
  transform: scale(1);
}
.recommendation-img-loading {
  opacity: 0;
}

.recommendation-container:hover .recommendation-img {
  transform: scale(1.1);
  opacity: 0.5;
}
/* absolute text-center z-50 top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 */
.recommendation-title {
  position: absolute;
  text-align: center;
  z-index: 50;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  transition: transform .5s ease, opacity .5s ease;
  opacity: 0;
}

.recommendation-container:hover .recommendation-title {
  transform: translate(-50%, -50%);
  opacity: 1;
}

.recommendation-genres {
  position: absolute;
  z-index: 50;
  bottom: 0;
  left: 0;
  transform: translateY(100%);
  opacity: 0;
  /* border-top-right-radius: 1rem; */
  transition: transform .5s ease, opacity .5s ease;
}

.recommendation-container:hover .recommendation-genres {
  transform: translateY(0);
  opacity: 0.9;
}

.recomm-content {
  animation: fadeInUp .3s;
}

.video-container {
  height: 60%;
  width: 80%;
  position: relative;
  padding-bottom: 56.25%;
}

.anime-background {
  opacity: 1;
  transition: opacity .5s ease;
}

/* .anime-plot .scroll-bar {
  overflow: hidden;
}

.anime-plot:hover .scroll-bar {
  overflow: auto;
} */

.anime-background-loading {
  opacity: 0;
}

.anime-img {
  animation: slideDown .3s;
}

.anime-details {
  animation: slideRight .3s;
}

.anime-title {
  animation: slideLeft .3s;
}

.anime-content {
  animation: slideLeft .5s;
}
/* h-0.5 w-6 bg-black left-0 absolute */
.close-button {
  position: absolute;
  left: 0;
  height: 0.125rem;
  width: 1.5rem;
  background-color: white;
  z-index: 30;
  transition: background-color .3s ease;
}

#button-zone:hover .close-button {
  background-color: black;
}

.circle-highlight {
  position: fixed;
  overflow-x: hidden;
  top: 0;
  right: 0;
  height: 32px;
  width: 32px;
  opacity: 0;
  border-bottom-left-radius: 100%;
  background-color: white;
  transition: height .5s, width .5s, opacity .5s ease-in;
}

#button-zone:hover .circle-highlight {
  height: 96px;
  width: 96px;
  opacity: 0.9;
  transition: height .3s, width .3s, opacity .3s ease-in;
}

.related-media-preview-open {
  visibility: visible;
  z-index: 50;
  left: 0;
  bottom: 100%;
  opacity: 1;
  transition: opacity .5s ease-in, visbility .5s ease-in;
}

.related-media-preview-closed {
  visibility: hidden;
  z-index: 50;
  left: 0;
  bottom: 100%;
  opacity: 0;
  transition: opacity .5s ease-in, visbility .5s ease-in;
}
/*
.related-media:hover .related-media-preview {
  display: flex;
  position: absolute;
  top: 100%;
  z-index: 50;
} */

.modal-button {
  display: inline-block;
  transition: transform .3s ease-out, background-color .3s ease-out;
  /* box-shadow: 
  0.3em 0.3em 0 0 transparent, 0.3em 0.3em 0 2px transparent */
}

#modal-content {
  animation: fadeInUp .5s ease-in-out;
}

.modal-button:hover:enabled {
  transform: translate(-7px, -7px);
  /* box-shadow:    
  0.3em 0.3em 0 0 rgb(139,212,80), 0.3em 0.3em 0 2px black; */
}

/* .plot-container {
  position: relative;
}
.plot-container::after{
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 30px;
  background-color: rgba(255, 1, 1, 0.5);
  z-index: -1;
} */

/* .related-media-closed .related-media-content{
  height: 0px;
  overflow: hidden;
  width: 100%;
} */

.anime-tab-btn {
  transition: transform .3s ease-in;
}

.btn-highlight {
  height: 2px;
  width: 100%;
  opacity: 0;
  transform: translateY(100%);
  position: absolute;
  bottom: 0;
  transition: transform .3s ease-in, opacity .3s ease-in;
}

.anime-tab-btn:hover + .btn-highlight {
  transform: translateY(0%);
  opacity: 1;
}

.anime-tab-btn:active + .btn-highlight {
  transform: translateY(0%);
  opacity: 1;
}

.hamburger {
  position: relative;
  cursor: pointer;
  z-index: 1000;
  width: 24px;
  height: 24px;
  transition: all 0.25s;
}

.hamburger-top, .hamburger-middle, .hamburger-bottom {
  height: 2px;
  width: 24px;
  position: absolute;
  left: 0;
  top: 0;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(7px);
}

.hamburger-bottom {
  transform: translateY(14px);
}


.open .hamburger-top {
  transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(6px) translate(-6px);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 150;
  overflow: hidden;
  transform: translateY(-100%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}

.menu-open {
  transform: translateY(0);
}

.hover-underline-animation {
  display: inline-block;
  font-weight: 700;
  position: relative;
  transform: translateX(0px);
  transition: all 0.3s ease-in;
}

.hover-underline-animation:hover {
  display: inline-block;
  position: relative;
  transform: translateX(10px);
  transition: all 0.3s ease-in;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 4px;
  bottom: -4px;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.menu-bg-image {
  transition: all .3s ease-in-out;
  /* animation: fadeIn .5s ease-in-out; */
}




@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}












@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOutDown {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
